@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header section li a {
  color: #070707; }

header section li a:hover {
  color: #3704f1; }

header .navbar {
  font-family: "Oswald", sans-serif; }
  header .navbar li a {
    color: black; }
  header .navbar li a:hover {
    color: #3704f1; }

main {
  font-family: "Oswald", sans-serif;
  background-color: #68D2E8; }

section h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  background: linear-gradient(to bottom, #ffff00 0%, #ff9900 100%); }

section .card {
  background: #FFC100; }

footer {
  background: #FC4100; }
  footer h3 {
    font-family: "Oswald", sans-serif; }
  footer p {
    font-family: "Oswald", sans-serif; }
