header{
    section{
        li{
            a{
                color: rgb(7, 7, 7);
            }
            a:hover{
                color: #3704f1;
            }
        }
    }
    .navbar{
        font-family: "Oswald", sans-serif;
        li{
            a{
                color: rgb(0, 0, 0);
            }
            a:hover{
                color: #3704f1;
            }
        }
    }
    }
    





